<p class="text-justify">
    PhD defense on November 19th, 2018 at Inria-IRISA Rennes.
</p>

<p class="text-justify">
    <b>Jury composition</b>
    <ul>
        {% for db in site.data.research.thesis_jury %}
        <li>
            <a target="_blank" href="{{ db.url }}">{{ db.name }}</a> {{ db.position }} - <i>{{ db.role }}</i>
        </li>
        {% endfor %}
    </ul>
</p>

<p class="text-justify">
    <b>Abstract</b> <br/>
    Systems biology relies on computational biology to integrate knowledge and data, for a better understanding of
    organisms’ physiology. Challenges reside in the applicability of methods and tools to non-model organisms, for which
    data is limited, and more generally to host-microbiota systems. Understanding the interactions in the later is an
    objective of systems ecology. Metabolic networks are a useful solution to model them functionally. In this direction,
    several semantics exist and are at the core of metabolic network reconstruction, particularly for their refinement
    through gap-filling. Gap-filling is a combinatorial problem that aims at selecting reactions in databases to ensure the
    feasibility of a behaviour by the model. It is a very crucial step due to various pitfalls: model overfitting, false
    positive, choice of functionality semantics. This thesis aimed at better understand these limits and propose solutions
    to them. As a first results part, we benchmarked several gap-filling algorithms to assess the value of graph-based
    semantics with respect to the constraint based one. Then we propose a hybrid gap-filling method that reconciles both
    semantics. Finally, we extended the gap-filling problem towards the selection of communities and the screening of
    metabolic functions within large microbiotas. Problems modelled and solved during this PhD were applied to brown algae
    metabolism and to the human gut microbiota.
</p>