<p class="text-justify">
    Using <a href="https://potassco.org/" target="_blank">Answer Set Programming ↗</a> to decipher interaction within the members of an ecosystem at the genomic scale.
</p>
<p class="text-justify">
    I focus my research on topological or hybrid modeling of metabolism based on Answer Set Programming and the solving of combinatorial problems. I contributed to the <a href="https://github.com/bioasp/meneco" target="_blank">meneco ↗</a> project, a tool dedicated to gap-fill models by selecting a minimal number of reactions from a database, in order to topologically produce compounds of interest. I then collaborated to the creation of a hybrid method for metabolism gap-filling, enabling to optimize not only the topological producibility of metabolites, but also the reaction of interest with the Flux Balance Analysis framework. I now focus on the prediction of interactions within communities.
</p>
